.SpeedDial {
    .MuiSpeedDial-fab {
        width: 36px!important;
        height: 36px!important;
        background-color: black!important;
    }
    
    .MuiSpeedDial-root {
        height: 45px!important;
    }
    
    .MuiButtonBase-root {
        width: 36px!important;
        height: 36px!important;
    }
}
