.HeaderWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 1px;
  border-color: red;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  font-family: 'Lobster', cursive;
  font-size: 36px;
}
